<div class="panel">
    <div class="panel-heading">
        Menu
    </div>
    <div class="panel-body">
    
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in menu.items">
                {{item.description}}
                <div class="btn btn-group" role="group">  

                    <button type="button" 
                      ng-click="menu.addItemToOrder({tableId: menu.tableId, menuItemId: item.menuId})" 
                      class="btn btn-default">+</button>
                    <button type="button" 
                      ng-click="menu.removeItemFromOrder({tableId: menu.tableId, menuItemId: item.menuId})" 
                      class="btn btn-default">-</button>
                </div>
            </li>
        </ul>
        <button type="button" 
        ng-click="menu.completeOrder({tableId: menu.tableId})">Done
        </button>
    </div>
</div>
