<div class="panel" ng-class="{'panel-success': table.tableStatus === 'CLEAN'
                             ,'panel-primary' : table.tableStatus === 'OCCUPIED' || table.tableStatus === 'ORDERING'
                             ,'panel-warning' : table.tableStatus === 'ORDERED'
                             ,'panel-info'   : table.tableStatus === 'HAS_FOOD'
                             ,'panel-danger' : table.tableStatus === 'DIRTY'}">
    <div class="panel-heading">
        Table Number: {{table.tableId}}
    </div>
    <div class="panel-body">
        <div ng-show="table.tableStatus === 'CLEAN'">
            <select ng-model="table.partyId">
                <option ng-repeat="party in table.parties | mutable" value="{{party.get('partyId')}}" ng-if="party.get('numberOfPeople') <= table.numberOfSeats">
                    {{party.get('partyId')}} - {{party.get('numberOfPeople')}}
                </option>
            </select>
            <button type="button" ng-click="table.seatParty({partyId:table.partyId, tableId: table.tableId});">Seat Party</button>
        </div>

        <div ng-show="table.tableStatus === 'OCCUPIED'">
            <button type="button" ng-click="table.startOrder({tableId: table.tableId})">Start Order</button>
        </div>
        <div ng-show="table.tableStatus === 'ORDERING'">
            <menu 
                menu-items="table.menu"
                on-add-item-to-order="table.addItem(tableId, menuItemId)"
                on-remove-item-from-order="table.removeItem(tableId, menuItemId)"
                on-complete-order="table.finishOrder(tableId)"
                table-id="{{table.tableId}}"></menu>
        </div>
    </div>
</div>
