<div class="panel panel-default">
    <div class="panel-heading">Parties in Line</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="party in lineup.parties | mutable">
                {{party.partyId}} - {{party.numberOfPeople}}
                <div class="btn btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="lineup.leaveLine(party.partyId)">X</button>
                </div>
            </li>
        </ul>
        <input ng-model="lineup.numberOfPeople">
        <button type="button" ng-click="lineup.joinLine(lineup.numberOfPeople)" ng-disabled="lineup.numberOfPeople > 4">New Party</button>
        <div ng-show="lineup.numberOfPeople > 4">Can't seat more than 4 people</div>
    </div>
    <lineup-summary>
</div>
