<div class="panel panel-default">
    <div class="panel-heading">Parties in Line</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="party in lineup.parties | mutable">
                {{party.get('partyId')}} - {{party.get('numberOfPeople')}}
                <div class="btn btn-group" role="group">
                <button type="button" 
                    class="btn btn-default" 
                    ng-click="lineup.seatParty(party.get('id'))">Seat Party</button>
                <button type="button" 
                    class="btn btn-default"
                    ng-click="lineup.leaveLine(party.get('id'))"
                    >X</button>
                </div>
            </li>
        </ul>
        <input ng-model="lineup.numberOfPeople">
        <button type="button" ng-click="lineup.joinLine(lineup.numberOfPeople)">New Party</button>
    </div>
    <lineup-summary>
</div>
