<div>
    <div ng-repeat="order in completedOrders.orders | mutable">
        Table: {{order.tableId}} - <button type="button" ng-click="completedOrders.deliverOrder(order.tableId)">Deliver</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>Total</th>
                    <th>x</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in order.items">
                    <td>{{item.description}}</td>
                    <td>{{item.qty}}</td>
                    <td>{{item.total | currency}}</td>
                    <td>
                 <button type="button" ng-click="completedOrders.addItemToOrder(order.tableId, item.menuId)">+</button>
                 <button type="button" ng-click="completedOrders.removeItemFromOrder(order.tableId, item.menuId)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
